


/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:50%;transform:translate(-50%);width:720px;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_modal_box,
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:rem(650);margin:rem(30) auto; max-height:calc(100% - rem(60)); background:#fff; border-radius:rem(10); border:1px solid #727272; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
    &.notice_type{margin:0;display:block;max-height:100%;max-width:100%;
        // .popup_contentlow{overflow:visible;}
    }
}
.popup_modal_box_zone{top:0;left:0;width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;overflow-y:auto;}
.popup_modal_box_wrap{display:table;table-layout: fixed;top:0;left:0;width:100%;height:100%;position:absolute;text-align: center;}
.popup_modal_box_inner{display:table-cell;vertical-align: middle;padding:40px;}
.popup_modal_box{max-width:280px;margin:0 auto;border-radius:15px;background:#fff;opacity:0;transition:.4s; display:flex;flex-direction: column;}
.modal_contents_row{flex:1;min-height:120px;padding:13px;display:flex;align-items: center; justify-content: center; box-sizing: border-box;flex-direction: column;}
.modal_btn_row{flex:0;padding:0 13px 13px;}
.btn_modal_submit{background:#00c6b1;letter-spacing:2px;padding:12px;color:#fff;display:block;border-radius:10px;text-align:center;font-size:16px;font-weight:700; font-family: 'SUITE','Pretendard', Dotum;}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#2c3035;opacity:0;transition:.4s;}

.modal_main_message{color:#232323; font-size:18px; font-weight:700; line-height:1.4;word-break: keep-all;}
.modal_sub_message{font-weight:600;color:#007e71; font-size:14px;margin-top:10px;word-break: keep-all;}


@media (max-width:768px){
    .popup_wrap{width:100%;left:0;transform: translate(0);}
    .popup_item{margin:0 rem(20)}
}
/* // 공통 popup */

