
/* component */
.tab_item_list_wrap{text-align: center;width:100%;height:100%;display:flex;align-items: flex-end;

    &.type2{
        .tab_item{padding:0 0 10px 0;}
        .tab_item_text{font-size:14px;}
    }
}
.tab_item_list{
    display:flex; width:100%;
    > li{
        flex:1; 
        &:last-of-type{}
    }
}
.tab_item{
    width:100%; height: 100%; box-sizing: border-box;  display:flex;align-items:center; justify-content: center;
    &.active{
        .tab_item_text{ color:$primary; opacity:1;}
        border-bottom-color:$primary;
    }
    border-bottom:3px solid #e4e6e9; padding:10px; 
    &:after{}
}
.tab_item_text{display:inline-block;font-size:15px;font-weight:700;@include suite;opacity:.4;word-break: keep-all;}
.tab_content_wrap{margin-top:32px;
    &.type2{margin-top:23px;}
}
.column_item_wrap{

}
.column_item{
    background:url("../images/bg_column_line.png") repeat-x 0 100%/2px 10px;padding-bottom:10px;
    &:last-of-type{background:none;padding-bottom:0;
        .column_item_inner{padding-bottom:33px;}
    }
}
.column_item_inner{padding:20px;}
.block_item{
    margin-bottom:25px;
    &:last-of-type{margin-bottom:0;}
}
.block_group{
    &.type2{
        .block_item{
            border-bottom:1px solid #dddddd; padding-bottom:15px;margin-bottom:15px;
            &:last-of-type{border-bottom:0;padding-bottom:0;margin-bottom:0;}
        }
    }
}
.block_inner_title{font-size:13px;color:#232323;font-weight:600;line-height:1;}
.block_inner_content{margin-top:10px;}
.link_element_list{
    display:flex;flex-wrap:wrap;
    > li {
        display:flex;
        &:after{display:inline-block;content:'|';font-size:11px;color:#9b9b9b;padding:0 5px;font-weight:500;}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.link_element{display:inline-block;color:#9b9b9b; font-size:11px;font-weight:500;}

.data_text_item_list{
    > li {
        display:flex; align-items:center; margin-bottom:2px;
        &:last-of-type{
            margin-bottom:0;
            &:after{display:none;}
        }
    }
}
.data_text_item{
    display:inline-block;color:#9b9b9b; font-size:11px;font-weight:500;line-height:1;
}
.data_text_line{
    display:inline-block;font-size:11px;color:#9b9b9b;padding:0 5px;font-weight:500;line-height:1;
}
.data_text_item{
    display:inline-block;color:#828282; font-size:12px; line-height:1.5; word-break: keep-all;
}
.category_menu_list_wrap{
    
}

.category_menu_list{
    display:flex;flex-wrap:wrap; gap:15px 0; text-align: center;
    > li {
        flex:0 0 25%; width:25%; box-sizing: border-box;
        &:last-of-type{}
    }
}
.category_menu_item{
    
}
.category_menu_fiqure{
    max-width:59px; margin:0 auto;
    img{vertical-align: top;}
}
.category_menu_spec{
    font-size:11px;color:#232a35; @include suite; font-weight:700; margin-top:7px;
}
/* // component */


/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:50%;transform:translate(-50%);width:720px;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_modal_box,
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
// .popup_item{
//     box-sizing: border-box;z-index:20; max-width:rem(650);margin:rem(30) auto; max-height:calc(100% - rem(60)); background:#fff; border-radius:rem(10); border:1px solid #727272; position:relative; display:flex; flex-direction: column;
//     -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
//     &.no_transition{transition:0s;opacity:1;transform:none;}
//     &.notice_type{margin:0;display:block;max-height:100%;max-width:100%;
//         // .popup_contentlow{overflow:visible;}
//     }
// }
.popup_modal_box_zone{top:0;left:0;width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;overflow-y:auto;}
.popup_modal_box_wrap{display:table;table-layout: fixed;top:0;left:0;width:100%;height:100%;position:absolute;text-align: center;}
.popup_modal_box_inner{display:table-cell;vertical-align: middle;padding:40px;}
.popup_modal_box{max-width:280px;margin:0 auto;border-radius:15px;background:#fff;opacity:0;transition:.4s; display:flex;flex-direction: column;}
.modal_contents_row{flex:1;min-height:120px;padding:13px;display:flex;align-items: center; justify-content: center; box-sizing: border-box;flex-direction: column;
    > *{width:100%;}
}
.modal_contents_title{margin:7px 20px 20px;font-size:18px;color:#232a35; @include suite; font-weight:700;}
.modal_contents_form{}
.form_textarea{border:0;background:#f4f4f4; resize:none;width:100%;box-sizing: border-box;height:103px;border-radius:6px;font-size:14px;padding:14px;
    &::-webkit-input-placeholder{text-align: center;}
    &.type2{
        &::-webkit-input-placeholder{text-align: left;}
    }
}
.modal_btn_row{flex:0;padding:0 13px 13px;display:flex;gap:11px;}
.btn_modal_submit{flex:1;background:$primary;letter-spacing:2px;padding:12px;color:#fff;display:block;border-radius:10px;text-align:center;font-size:16px;font-weight:700; @include suite;
    &.type2{background:#232a35;}
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#2c3035;opacity:0;transition:.4s;}

.modal_main_message{color:#232323; font-size:18px; font-weight:700; line-height:1.4;word-break: keep-all;}
.modal_sub_message{font-weight:600;color:#007e71; font-size:14px;margin-top:10px;word-break: keep-all;}

.full_popup_container{
    display:flex;background:#fff;flex-direction: column;position:relative;height:100vh;width:100%;height:100%;
}
.full_popup_top_row{flex:0 0 70px;display:flex;align-items: center; justify-content: center;text-align: center;min-height:70px;padding:0 60px;height:100%;background:#fff;z-index:5;
    &.type2{
        box-shadow: 0px 0px 18.27px 2.73px rgba(211, 211, 211, 0.58);position:relative;z-index:3;
    }
}
.full_popup_pix_row{
    flex:0;background:#fff;padding:25px 20px;
    box-shadow: 0px 0px 18.27px 2.73px rgba(211, 211, 211, 0.58);position:relative;z-index:2;
}
.full_popup_auto_row{flex:1;min-height:0;background:#fefefe; overflow-y:auto; position: relative;
    &.type2{padding:25px 20px;}
}
.full_popup_middle_row{flex:1;min-height:0; overflow-y:auto; position: relative; 
    &.type2{background:#fafafa;}
}
.full_popup_middle_inner{padding:34px 20px;}
.full_popup_btn_row{flex:0;}

.full_popoup_title{font-size:21px;color:#101731; font-weight:700; @include suite;}

.btn_popup_close{display:block;z-index:10;width:60px;height:60px;position:absolute;top:5px;right:0;background:url("../images/btn_popup_close.png") no-repeat 50% 50%/15px auto;}


.fp_form_wrap{}
.fp_form_copy{
    font-size:21px;color:#232a35; line-height:1.5; word-break: keep-all;
    strong{font-weight:700;word-break: keep-all;}
}
.fp_form_fieldset{display:flex;gap:9px;margin-top:24px;}
.fp_input_w{flex:1;border-radius: 5px;background:#f6f6f7;height:47px;min-width:0;overflow: hidden;}
input.fp_input{padding:0 18px;height:100%;outline:0;appearance: none;box-sizing:border-box; font-size:14px;color:#232a35;line-height:1;font-weight:700; border:0;background:none; width:100%;
    &::-webkit-input-placeholder{color:#232a35;font-family: 'Pretendard';opacity:.7;}
    &::-moz-input-placeholder{color:#232a35;font-family: 'Pretendard';opacity:.7;}
    &:-ms-input-placeholder{color:#232a35 !important;font-family: 'Pretendard';opacity:.7;}
    &::-ms-input-placeholder{color:#232a35 !important;font-family: 'Pretendard';opacity:.7;}
    &::input-placeholder{color:#232a35;font-family: 'Pretendard';opacity:.7;}
}
.btn_fp_submit{flex: 0 0 47px; width:47px; height:47px; background:$primary url("../images/ico_search.png") no-repeat 50% 50%/22px auto; border-radius: 5px;}

@media (max-width:768px){
    .popup_wrap{width:100%;left:0;transform: translate(0);}
    .popup_item{margin:0 rem(20)}
}
/* // 공통 popup */



/* form */
.form_field_wrap{
    &.type2{
        .form_field_main_wrap{}
        .btn_field_submit_wrap{margin-top:53px;}
    }
}
.form_field_main_wrap{}
.form_field_element_wrap{display:flex;gap:18px;flex-direction: column;}
.form_element_row{
    &:last-of-type{}
    input.form_input{}
}
input.form_input{height:50px;appearance: none;width:100%;color:#232a35;padding:0 18px;box-sizing: border-box;font-size:14px;line-height:1;font-weight:600;border:0;background:#f6f6f7;border-radius:5px;
    &::-webkit-input-placeholder{color:#232a35;font-family: 'Pretendard';opacity:.7;}
    &::-moz-input-placeholder{color:#232a35;font-family: 'Pretendard';opacity:.7;}
    &:-ms-input-placeholder{color:#232a35 !important;font-family: 'Pretendard';opacity:.7;}
    &::-ms-input-placeholder{color:#232a35 !important;font-family: 'Pretendard';opacity:.7;}
    &::input-placeholder{color:#232a35;font-family: 'Pretendard';opacity:.7;}
    &.type2{background:#f4f4f4;}
}
.field_else_item_wrap{margin-top:18px;display:flex;justify-content: space-between;gap:20px;font-size:0;line-height:0;}
.field_else_item{}
.props_item{
    display:inline-flex;gap:8px;min-height:18px;align-items:center;
    &.type2{
        input.props_form{
            background-image:url("../images/ico_check_2.png"); border-radius: 100%;
            &:checked{}
            &:checked + .props_label{}
        }
        .props_label{font-size:17px;font-weight:700;}
    }
}
input.props_form{
    display:inline-block;width:18px;height:18px;background:url("../images/ico_check.png") no-repeat 0 0/100% auto; appearance: none; cursor: pointer;
    &:checked{background-position:0 100%;}
    &:disabled{opacity:.5;}
    /* &:checked + .props_label{color:$primary;} */
}
.props_label{font-size:13px;line-height:1;display:inline-block;color:#232323;font-weight:600;cursor: pointer;
    &.type2{font-size:15px;}
}
.field_else_item{}
.btn_field_link{
    display:inline-flex;white-space:nowrap;color:#232323;font-weight:600; line-height:1; font-size: 13px; align-items: center; gap:8px;
    &:after{display:inline-block; content:'>';font-family: 'SUITE';font-weight:600;color:$primary;}
}
.btn_field_submit_wrap{margin-top:48px;
    &.type2{margin-top:15px;}
}
.btn_field_submit{border-radius:5px;background:$primary;display:flex;align-items: center;justify-content: center;box-sizing: border-box;padding:10px;min-height:54px;}
.btn_field_submit_text{display:inline-block;line-height:1.3;color:#fff;font-size:17px;font-weight:700;}
.form_field_sub_wrap{margin-top:37px;}
.field_linkage_row{}
.field_linkage_title_row{
    display:flex;position:relative; justify-content: center; align-items: center;
    &:before{display:block;content:'';width:100%;height:1px; background:#dddddd; position:absolute;top:50%;left:0;transform: translateY(-50%);}
}
.field_linkage_title{position:relative;background:#fff;padding:0 19px;font-size:13px;}
.field_linkage_content_row{margin-top:28px;}
.field_linkage_item_list{
    display:flex;justify-content:center;gap:20px;align-items:center;
    > li {}
}
.linkage_snsm_item{
    display:block;width:35px;height:35px;background:url("../images/ico_sns_kakao.png") no-repeat 0 0/100% auto;
    &.ico_kakao{}
    &.ico_apple{background-image:url("../images/ico_sns_apple.png");}
    &.ico_naver{background-image:url("../images/ico_sns_naver.png");}
    &.ico_meta{background-image:url("../images/ico_sns_meta.png");}
}
.field_other_item_row{
    margin-top:48px;display:flex;justify-content: center;align-items: center; gap:10px 14px;
}
.field_other_copy{font-size:14px;color:#232323;font-weight:500;line-height:1.3;}
.btn_field_other_link{font-size:14px;color:$primary;font-weight:700;line-height:1.3;}

.form_inline_group{
    display:flex; gap:7px;
    > input.form_input{flex:1;}
}

.btn_inline_control{display:flex;align-items: center; justify-content: center; border-radius:5px;border:1px solid $primary; background:#e5f9f7; box-sizing: border-box;}
.btn_inline_control_text{display:inline-block; color:$primary; font-weight:600; font-size:14px;padding:10px 19px; white-space: nowrap;}

.form_guide_para{color:#232a35;margin:10px 0 -2px;font-size:12px;line-height:1.3;font-weight:600;}

.form_field_copy_wrap{
    & + .btn_field_submit_wrap{margin-top:33px;}
}
.form_field_fiqure{
    text-align: center;  max-width:158px; margin:0 auto;
    img.fiqure_img{vertical-align: top;}
}
img.fiqure_img{}
.form_field_copy{
    margin-top:28px; font-weight:700;text-align:center; font-size:20px; line-height:1.5;
    strong.emp{color:$primary;}
}
strong.emp{}


.agree_form_zone{}
.agree_total_row{margin-bottom:37px;}
.agree_detail_row{}
.agree_detail_list{
    > li{
        margin-bottom:35px;
        &:last-of-type{margin-bottom:0;}
        &.active{
            .btn_toggle_control{transform: rotate(180deg);}
            .agree_terms_render_wrap{display:block;}
        }
    }
}
.agree_detail_event_bar{display:flex;align-items: center; justify-content: space-between; gap:20px;}
.ade_main_cols{
    line-height:0;
    .props_item{}
}
.ade_btn_cols{}
.agree_terms_render_wrap{margin:12px 0 0 26px;padding-top:15px;border-top:1px solid #dddddd; display:none;}
.agree_terms_render{font-size:13px;line-height:1.5;color:#707070;}
.btn_toggle_control{
    display:block;width:17px;height:17px;background:url("../images/ico_toggle.png") no-repeat 0 0/100% auto; border-radius:100%; position:relative;
    &:after{display:block;content:'';width:calc(100% + 10px);height:calc(100% + 10px);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);/* background:red;opacity: .4;; */}
}

.input_package{
    display:flex;align-items:center;gap:20px;
    input.form_input,
    input.fp_input{padding-right:0;}
    input.form_input{}
    .btn_input_reset{margin-right:14px;display:none;}
    &.has_value{
        .btn_input_reset{display:block;}
    }
}
.btn_input_reset{display:block;width:15px;height:15px;position:relative;background:url("../images/ico_input_reset.png") no-repeat 50% 50%/100% auto; border-radius: 100%; flex:0 0 15px;
    &:after{display:block;content:'';width:calc(100% + 10px);height:calc(100% + 10px);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)};
}


.data_result_title{font-size:15px;color:#232a35;line-height:1; font-weight:700;}
.data_result_list_wrap{margin-top:25px;}
.data_result_list{
    > li{
        padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #dddddd;
        &:last-of-type{border-bottom:0; margin-bottom:0; padding-bottom:0;}
    }
}
.data_result_item{}
.data_result_number{font-size:18px;font-weight:800;color:#007e71;line-height:1;@include suite; letter-spacing: -0.5px;}
.data_result_primary{font-size:15px;color:#232a35; font-weight:600;margin-top:5px}
.data_result_secondary{font-size:13px;color:#707070;margin-top:3px;}


.form_table_wrap{}
.form_table_list{
    > li{
        margin-bottom:33px;
        &:last-of-type{margin-bottom:0;}
    }
}
.form_table_label_row{display:flex;gap:20px;justify-content: space-between;align-items: center;}
.form_table_else_g{
    .props_form{}
}
.form_table_label{font-size:15px;color:$primary;font-weight:600;
    &.type2{color:#232a35;}
}
.form_table_contents_row{margin-top:12px;}
.form_content_block{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.form_getdata_text{box-sizing: border-box;font-size:14px;line-height:1.4;font-weight:600;color:#232a35;}
.form_textarea_wrap{
    .form_textarea{height: 110px; font-weight:600;line-height:1.4;}
}
.terms_contents_wrap{
    background: #f4f4f4;
    width: 100%;
    box-sizing: border-box;
    height: 110px;
    border-radius: 6px;
    font-size: 14px;
    padding: 14px;
    overflow-y:auto;

    &::-webkit-scrollbar {width:10px;}
    &::-webkit-scrollbar-thumb {}
    &::-webkit-scrollbar-track {box-shadow: inset 0px 0px 5px transparent  !important;background-color:transparent !important;}
}
.file_form_wrap{display:flex;align-items: center;gap:20px;
    &.has_value{
        justify-content: flex-end; margin-top:-30px;
        .file_form_para{display:none;}
    }
}
.file_form_para{flex:1;font-size:13px;color:#232a35;font-weight:600;}
.file_form_item{flex:0;position:relative;}
.file_btn_box{display:inline-block;white-space: nowrap; border-radius:5px;background:$primary;color:#fff;font-family: 'SUITE'; font-weight:600; font-size:13px; padding:10px 18px;}
input.file_origin{display:block;position:absolute;top:0;left:0;opacity:0; cursor: pointer; width:100%;height:100%;
    &::file-selector-button {
        display: none;
    }
    
    &::-webkit-file-upload-button {
        display: block;
        width: 0;
        height: 0;
        margin-left: -100%;
    }
    
    &::-ms-browse {
        display: none;
    }
}

.upload_item_box{
    margin-top:12px; border:1px solid #ddd; border-radius:6px; padding:16px;
}
.upload_item_list{
    display:flex; flex-wrap:wrap; gap:15px 0;margin:0 -11px;
    > li{flex:0 0 50%;box-sizing: border-box;width:50%;padding:0 11px;}
}

.upload_data_img{
    overflow:hidden; position:relative; height:0;padding-bottom:75%; border-radius:9px; background:#f4f4f4 url("../images/ico_noimg_90x90.png") no-repeat 50% 50%/30px auto;
    img{@include dataImage2}
}

.upload_data_btn_row{
    margin-top:12px;
}
.btn_data_delete{
    display:block;width:18px;height:20px; background:url("../images/ico_trash.png") no-repeat 50% 50%/100% auto; margin:0 auto;
}

/* // form */


/* banner */
.single_banner_swiper_wrap{position:relative;}
.single_banner_container{
    &.swiper-container{}
    &.swiper-wrapper{}
    &.swiper-slide{}
}
.single_banner_item{
    img{vertical-align: top;}
}
.swiper_fraction_layer{position:absolute;bottom:0;left:0;display:flex;justify-content: flex-end;width:100%;box-sizing: border-box;padding:14px;z-index:5;}
.swiper_fraction_item{background:rgba(35,42,53,.65);border-radius:100px;color:#fff;font-size:9px;@include suite;padding:5px 10px;font-weight:500;}
.fraction_line{display:inline-block;padding:0 2px;}
.fraction_current{color:#fff;}
.fraction_length{color:#fff;}
/* // banner */


/* detail */
.detail_photo_container{
    position:absolute;top:0;left:0;width:100%; z-index:0;
    &.swiper-container{}
     .swiper-wrapper{}
     .swiper-slide{
    }
}
.detail_photo_img{position:relative;height:192px;
    &:after{display:block;content:'';width:100%;height:100%;background:url("../images/bg_detail_dim.png") repeat-x 0 0/cover;opacity:.2;}
    img{vertical-align: top; @include dataImage2}
}
.header_both_layer_group{position:absolute;top:0;left:0;width:100%;height:70px;}

.detail_header_wrap{
    .top_layer_content{

        padding:102px 0 0 0;
    }
}
.detail_header_content_wrap{position:relative;  pointer-events: none; margin:0 20px 0;}

.detail_current_count_row{text-align: right;margin-bottom:10px;}
.detail_current_count{background:rgba(35,42,53,.65);color:#fff;font-size:9px;line-height:1;white-space:nowrap;font-weight:500;display:inline-block;border-radius:100px;padding:5px 10px;}
.d_count_current{}
.d_count_length{}

.detail_primary_box{background:rgba(255,255,255,.9);padding:25px 20px;border:1px solid #dddddd;border-radius:10px;text-align: center;box-sizing: border-box; min-height:157px;}

.detail_primary_title{color:#101731;font-size:22px;font-weight:800; @include suite;}
.detail_primay_sub_copy{margin-top:12px;line-height:1.4;font-size:13px;color:#707070;}
.detail_data_count_list{
    margin-top:12px; display:flex; justify-content: center; align-items: center;
    > li{
        padding-right:22px; position:relative;
        &:last-of-type{padding-right:0;
            &:after{display:none;}
        }
        &:after{
            display:block;content:'';width:1px;height:11px;background:#b3b3b3; position:absolute;top:50%;right:11px;transform: translateY(-50%);
        }
    }
}
.detail_data_count_item{display:flex;gap:5px;align-items: center;}
.detail_data_ico{
    display:inline-block;width:19px;  background-position:50% 50%;background-size:100% auto; background-repeat:no-repeat;
    &.ico_star{background-image:url("../images/ico_star_57.png");width:19px;height:18px;}
    &.ico_heart{background-image:url("../images/ico_heart_45.png");width:15px;height:13.33333333333333px;}
}
.detail_data_count_item{}
.data_summary_text_g{line-height:1;display:flex;align-items: center;font-size:15px;@include suite;}
.data_summary_count{font-weight:700}
.data_summary_unit{color:#232323}

.detail_primary_title{}
.detail_primay_sub_copy{}

.detail_tab_item_row{margin:20px 20px 0;}


/* guide */
.data_info_table_wrap{}
.data_info_table{
    display:table;width:100%;
     > li{
        display:table-row;
        &:last-of-type{
            .data_key_cols,
            .data_value_cols{padding-bottom:0;}
            
            .data_value_text{min-height:21px;}
        }
     }
}
.data_key_cols,
.data_value_cols{display:table-cell;vertical-align: top;padding-bottom:16px;}
.data_key_cols{width:1px;}
.data_value_cols{padding:2px 0 16px 14px;}
.data_key_item{display:flex;white-space: nowrap;gap:7px;align-items: center;}
.data_key_ico{display:block;width:21px;height:21px; background : #c8f0eb url("../images/ico_bullet_box.png") no-repeat 50% 50%/100% auto; border-radius: 100%;}
.data_key_text{color:#232a35;line-height:1;font-size:13px;font-weight:600;}
.data_value_text{display:inline-flex;flex-wrap:wrap;min-height:34px;font-size:13px;color:#232a35; line-height:1.4; word-break: keep-all;}

.combo_select_row{
    position:relative;
    &:before{
        display:block;content:'';border-radius:100%;width:17px;height:17px;background:url("../images/ico_toggle_color_50.png") no-repeat 50% 50%/100% auto;position:absolute;top:50%;right:0;transform: translateY(-50%);
    }
    select.combo_select{position:relative;}
}
select.combo_select{
    border:0;font-size:13px;height:47px;width:100%;color:#575757;padding: 0 30px 0 0;box-sizing:border-box;font-family: 'Pretendard'; -webkit-border-radius:0; cursor: pointer;
    background:transparent; line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none; border-bottom:1px solid #dddddd;
}
select.combo_select::-ms-value {background: none; color:#2d2d2d;}
select.combo_select::-ms-expand {display: none;}
select.combo_select::-ms-value {
    background: none; 
    color:#2d2d2d;
}
select.combo_select.ready{color:#999;}
select.combo_select:disabled{background-color:#f7f7f7;color:#999999;opacity:1;}

.form_select_wrap{
    position:relative; background:#f4f4f4; border-radius:5px;
    &:before{
        display:block;content:'';border-radius:100%;width:17px;height:17px;background:url("../images/ico_select_allow2.png") no-repeat 50% 50%/100% auto;position:absolute;top:50%;right:20px;transform: translateY(-50%);
    }
    select.form_select{position:relative;}
}
select.form_select{
    border:0;font-size:14px;height:47px;font-weight:600;width:100%;color:#232a35;padding: 0 57px 0 18px;box-sizing:border-box;font-family: 'Pretendard'; -webkit-border-radius:0; cursor: pointer;
    background:transparent; line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
select.form_select::-ms-value {background: none; color:#707070;}
select.form_select::-ms-expand {display: none;}
select.form_select::-ms-value {
    background: none; 
    color:#2d2d2d;
}
select.form_select.ready{color:#999;}
select.form_select:disabled{background-color:#f7f7f7;color:#999999;opacity:1;}


.terms_vertical_item{}
.terms_vertical_title{}
.terms_vertical_content{}

.middle_tab_item_row{
    margin-bottom:30px;
    .tab_item_list_wrap{}
}

.middle_inner_title_row{
    & + .combo_select_row{margin-top:4px;}
    &.type2 + .combo_select_row{margin-top:0;} 
}
.middle_inner_title{font-size:17px;font-weight:600;}

.combo_select_row{

}
select.combo_select{
    height:47px;
}

.terms_render_wrap{
    margin-top:30px; 

    &.type2{
        margin-top:25px;
    }
}

.terms_vertical_item{
    margin-bottom:23px; font-size:14px;color:#575757; line-height:1.5;
    &:last-of-type{margin-bottom:0;}
}
.terms_vertical_title{font-weight:600;}
.terms_vertical_content{}

.banner_vertical_list_wrap{}
.banner_vertical_list{
    > li{
        margin-bottom:13px;
        &:last-of-type{margin-bottom:0;}
    }
}
.banner_img_item{position:relative;overflow:hidden;border-radius:6px;
    display:block;
    img{vertical-align: top;}
}

/* list */
.list_table_render_wrap{margin-top:21px;}
.list_table_wrap{}
.list_table{
    width:100%;
    thead{
        tr{
            th{
                background:#d9f7f3; border-top:1px solid #00c6b1; border-bottom:1px solid #00c6b1; padding:15px 5px;
                &.type2{background:#cef4f0}
                &.no_break{
                    width:1px; padding-left:20px; padding-right:20px;
                    .list_thtext{white-space: nowrap;}
                }
            }
        }
    }
    tbody{
        tr{
            td{
                border-bottom:1px solid #00c6b1; padding:13px 5px 12px;
                &.type2{background:#f2fcfb}
                &.has_title{text-align: left;padding-left:20px; padding-right:20px;}
                &.nodata_td{
                    padding:100px 20px;
                    .nodata_para{}
                }
                &.no_break{
                    width:1px; padding-left:20px; padding-right:20px;
                    .list_tdtext{white-space: nowrap;}
                }
            }
        }
    }
}
.list_thtext{display:inline-block;font-size:14px;color:#232a35;line-height:1;white-space: nowrap;font-weight:600;}
.list_tdtext{display:inline-block;font-size:14px;color:#575757; line-height:1.4;
    &.ing_type2{color:#0054ff; font-weight:500;}
}
.list_tdtitle{display:inline-block;font-size:14px;color:#575757; line-height:1.4; @include clamp(1)}
.nodata_para{display:inline-block;font-size:14px;color:#575757; line-height:1.4;}

.btn_list_bottom_wrap{margin:30px 0 0 0; text-align: center;font-size:0;line-height:0;}
.btn_list_more{display:inline-flex; background:#f6f6f7; border-radius:100px; gap:10px;padding:12px 18px;align-items: center;}
.list_more_text{font-size:13px;color:#232a35;line-height:1;font-weight:600;display:inline-block;}
.list_more_ico{display:block;width:17px;height:17px;background:url("../images/ico_toggle_color_50.png") no-repeat 50% 50%/100% auto; border-radius:100%;flex:0 0 17px;}
.btn_contents_end_wrap{text-align: right;margin-top:23px;display:flex;justify-content: flex-end; gap:10px;}
.btn_boxitem{font-size:16px;font-weight:700; @include suite;background:$primary;border-radius:5px;padding:11px;box-sizing: border-box; text-align: center; min-width:100px;color:#fff;}

.timeline_item_list_wrap{}
.timeline_item_list{
    > li{
        background:url("../images/bg_column_line.png") repeat-x 0 100%/2px 10px;padding:0 20px 10px;
        &:last-of-type{background:none;}
        &:last-of-type{}
        &.nodata_li{
            background:none;text-align:center; padding:100px 20px;
            .nodata_para{}
        }
    }
}


.timeline_inner_item{
    border-bottom:1px solid #dddddd; padding:24px 0; display:flex;justify-content:space-between; gap:20px; align-items: center;
    &:last-of-type{border-bottom:0;}
}
.timeline_data_para{font-size:15px;color:#232323;font-weight:600;
    &.type2{color:#0054ff;}
}
.timeline_else_data_g{display:flex;align-items: center;gap:9px;}
.timeline_else_data{
    display:inline-block;line-height:1;font-weight:500;font-size:12px;
    &.type2{color:#b6b6b6;}
}

.action_box_wrap{}
.action_box{
    margin-bottom:33px; background:#f6f6f7; border-radius:10px;padding:10px 23px 23px;
    &.type2{
        padding-bottom:60px;
    }
    &:last-of-type{margin-bottom:0;}
}
.action_title_row{padding:15px 0;margin-bottom:15px;border-bottom:1px solid #ddd;}
.action_title{font-size:15px;color:#00c6b1;font-weight:600;line-height:1;}
.action_content_row{}
.inform_both{display:flex;align-items: center;justify-content: space-between;}
.inform_cols{
    &:after{}
}
.inform_cols{}
.inform_label{color:#232323;font-size:15px;line-height:1;font-weight:600;}

.motion_checkbox_item{font-size:0;line-height:0;display:inline-block;overflow:hidden;}
input.motion_checkbox{appearance: none;width:0;height:0;box-sizing: border-box;opacity:0;overflow:hidden;position:relative;
    &:checked + .motion_checkbox_label{
        justify-content: flex-end;
    }
}
.motion_checkbox_label{
    display: flex; position:relative;width:27px;height:17px;border:3px solid #00c6b1; border-radius:100px; align-items: center;padding:0 3px;
    &:after{display:block;content:'';width:7px;height:7px;border:3px solid #00c6b1; border-radius:100%;}
}
.action_menu_item{
    padding-top:5px;
}
.action_menu_row{

}
.action_menu{font-size:17px;display:inline-block;font-weight:700;color:#232323;line-height:1;}
.action_sub_row{margin-top:18px;}
.action_sub{color:#575757;font-size:13px;}


.full_figure_list_wrap{}
.full_figure_list{
    > li{
        &:last-of-type{}
    }
}
.full_figure_item{}
.full_figure_thum_wrap{
    > img{}
}
.full_figure_spec_wrap{}
.figure_spec_main_row{}
.word_keyword{}
.figure_spec_main_title{}
.figure_spec_sub_row{}
.spec_count_list{
    > li{

    }
}
.spec_count_item{}
.ico_count{
    &.ico_good{}
    &.ico_reply{}
}
.spec_count_num{}
.spec_else_text_item{}

.summary_item_list_wrap{}
.summary_item_list{
    >li{}
}
.summary_render_item{}
.summary_render_spec_wrap{
    .word_keyword{}
}
.summary_render_main_row{}
.summary_render_title{}
.summary_render_sub_row{
    .spec_count_list{}
}
.summary_render_thum{
    img{}
}

/* paging */
.paging_wrap{margin-top:18px;display:flex;justify-content: center; align-items: center; font-size:0; line-height:0;}
.btn_paging_control{
    display:block; width:17px;height:17px; background:#ccf4ef url("../images/ico_paging_prev.png") no-repeat 0 0/100% auto; border-radius:100%;
    &.prev{}
    &.next{background-image:url("../images/ico_paging_next.png");}
}

.paging_num_list{
    display:flex;justify-content: center; align-items: center; margin:0 5px;
    > li{margin:0 5px;}
}

.paging_num{
    display:flex; justify-content: center; align-items: center; font-weight:500;  font-size:14px;color:#232a35;line-height:1; width:17px;height:17px;
    &.active{color:$primary;}
}


/* view */
.view_skin_wrap{}
.view_skin_title_wrap{padding-bottom:20px;border-bottom:1px solid #dddddd;}
.view_skin_title{font-size:20px;color:#232323;font-weight:600;}
.view_skin_else_g{margin-top:12px;display:flex;justify-content: space-between;}
.vs_item_list{
    display:flex;
    > li {
        display:flex;
        &:after{display:inline-block;content:'|';color:#b5b5b5;font-size:14px; font-weight:500;padding:0 8px;}
        &:last-of-type{
            &:after{display:none;}
        }
    }

    &.type2{
       
    }
}
.vs_item{
    color:#b5b5b5;font-size:14px; font-weight:500;
    &.type2{ color:#707070;}
}
.count_item_wrap{display:flex;gap:6px;}
.count_item_ico{display:block;width:16px;height:16px; background:url("../images/ico_view.png") no-repeat 50% 50%/100% auto;}
.count_item_current{font-size:14px;color:#707070;display:inline-block;line-height:1;}
.view_skin_content_wrap{
    margin-top:20px; color:#232a35; font-size:14px; line-height:1.6;
    *{word-break: break-all; color:#232a35;}
    img{width: auto !important; height:auto !important;}
}

.view_contents_render_wrap{}
.view_table_wrap{}
.view_table{
    width:100%; border-top:2px solid #dddddd; line-height:1.4; border-bottom:2px solid #dddddd;
    tr{
        th,td{border-bottom:1px solid #dddddd;}
        th{background:#f9f9f9; text-align: center;padding:15px 30px;width:1px;}
        td{text-align: left;padding:15px;}
        &:last-of-type{
            th,td{border-bottom:0;}
        }
    }
}
.view_thtext{display:inline-block;white-space: nowrap;font-size:13px;color:#575757; font-weight:600;}
.view_tdtext{
    display:inline-block;color:#232a35;
    &.type_get_contents{
        word-break: keep-all;
        *{word-break: keep-all;}
        img{width: auto !important; height: auto !important;}
    }
}