/* layout */

body ::-webkit-scrollbar {width:rem(10);}
body ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: rem(10);background-clip: padding-box;border: rem(2) solid transparent;}
body ::-webkit-scrollbar-track {background-color: #fff;border-radius: rem(10);box-shadow: inset 0px 0px rem(5) white;}

.front_body{
    overflow-x:hidden; position:relative;
}
.page_wrap{
    min-width:rem(280);min-height:100vh; box-sizing: border-box; width:720px;margin:0 auto;
    &:before, &:after{display:block;content:''; position:fixed;top:0;height:100%; background:#fff;width:calc(50vw - 360px);z-index:50;}
    &:before{left:0;}
    &:after{right:0;}
}

.btn_history_back{display:block;width:60px;height:60px;background:url("../images/ico_back.png") no-repeat 50% 50%/18px auto;
    &.type2{background-image:url("../images/ico_back_w.png")}
}
.header_left_layer,
.header_right_layer{display:block;position:absolute;top:5px;}
.header_left_layer{left:0;}
.header_right_layer{right:0;}

.btn_header_like{display:flex; justify-content:center; align-items:center; width:60px;height:60px;
    &:after{display:block;content:'';width:27px;height:25px;
        background:url("../images/ico_detail_heart.png") no-repeat 0 0/100% auto;
    }
    &.active{
        &:after{
            background-position:0 100%;
        }
    }
}


.header_wrap{height:100%;display:flex;align-items: center; justify-content: center; text-align: center;
    /* border-bottom: 1px solid rgb(211, 211, 211);
    z-index: 22; */
    /* box-shadow: 0px 0px 6px 2px rgba(211, 211, 211, 0.58); */
}
.hgroup_toggle_title{display:flex;align-items: center;gap:7px;}
.ico_toggle_map{display:inline-block;width:13px;height:15px;background:url("../images/ico_marker.png") no-repeat 0 0/100% auto; flex:0 0 13px;}
.hgroup_title_text{display:inline-block;font-size:14px;color:#232a35;position:relative; padding-right:20px;  @include clamp(2); top:-1px;
    &:after{display:block;content:'';border:5px solid transparent;border-top-color:#232a35;width:0;height:0;position:absolute;top:50%;right:0;transform: translateY(-50%);margin-top:3px;}
}

.hgroup_pixin{display:flex;justify-content: center; align-items: center; text-align: center;height:100%; padding:0 55px;}

.header_top_title{font-size:21px;color:#101731; font-weight:700; font-family: 'SUITE','Pretendard', Dotum;}

.top_layer_wrap{position:fixed;top:0;left:50%;transform: translateX(-50%);height:70px;z-index:20;background:#fff;width:720px;
    border-bottom: 1px solid rgb(211, 211, 211);
    z-index: 22;
    box-shadow: 0px 0px 6px 2px rgba(211, 211, 211, 0.58);

    &.type2{
        height:auto;min-height:0;
        .hgroup_pixin{height:70px;}
        .header_top_title{}
    }
    
    &.dtype2{
        border-bottom-color:#fff;
        box-shadow: none;
    }
}
.bottom_layer_wrap{
    position:fixed;bottom:0;left:50%; transform: translateX(-50%);width:720px;  overflow-x:auto;
    &.type2{overflow:visible;}
    &::-webkit-scrollbar {width:0;}
}
.bottom_menu_list_wrap{padding-bottom:27px;
    box-shadow: 0px 0px 18.27px 2.73px rgba(211, 211, 211, 0.58);border-top:1px solid #d3d3d3;}
.bottom_menu_list{
    display:flex;padding:0 20px; text-align: center; justify-content: space-between;
    > li{}
}
.bottom_menu{
    display:block;padding:10px 0; position:relative;
    &:after{display:block;content:'';width:25px;height:4px;background: $primary; position:absolute;top:0;left:50%;transform: translateX(-50%);border-radius:0 0 100px 100px;opacity:0;}
    &.ico_home{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_01.png");}
    }
    &.ico_help{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_02.png");}
    }
    &.ico_proud{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_03.png");}
    }
    &.ico_zzim{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_04.png");}
    }
    &.ico_estimate{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_05.png");}
    }
    &.ico_myhome{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_06.png");}
    }
    &.ico_review{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_07.png");}
    }
    &.ico_customer{
        .bottom_menu_ico{background-image:url("../images/bottom_menu_08.png");}
    }

    &.active{
        &:after{opacity:1;}
        .bottom_menu_ico{background-position:0 100%;}
        .bottom_menu_text{color: $primary;}
    }
}
.bottom_menu_ico{width:24px;height:24px;background-repeat:no-repeat;background-size:100% auto;background-position:0 0;margin: 0 auto; display:block;}
.bottom_menu_text{font-size:11px;color:#232a35;line-height:1;font-weight:700; font-family: 'SUITE','Pretendard', Dotum;display:block;margin-top:5px;}

.btn_group_bell{display:block;width:55px;height:55px;background:url("../images/ico_alarm.png") no-repeat 50% 50%/18px auto;}

.footer_wrap{background:#f6f6f7; box-shadow: none !important;}
.footer_pixin{padding:15px 20px 45px;}
.footer_copy{font-size:11px;color:#828282; opacity:.7;line-height:1.7;}
.footer_copy_line{display:inline-block;width:14px;text-align: center;}
.middle_wrap{padding:45px 20px;
    &.type2{
        padding:0;
    }
    &.type3{
        padding:25px 20px;
    }
    &.type4{
        padding:0 20px 45px;
    }
}

.btn_bottom_row{display:flex;padding:0 20px 20px;gap:11px;background:#fff;margin-top:20px;}
.btn_submit_box{flex:1;width:100%;display:flex;flex-direction: column;justify-content: center;background:$primary;border-radius:6px;min-height:54px;box-sizing: border-box;padding:10px;align-items: center;
    &.type2{background-color:#232a35;}
}
.btn_submit_box_text{display:inline-block;color:#fff;font-size:17px;color:#fff; font-weight:700; font-family: 'SUITE','Pretendard', Dotum;}

.swiper_menu_list_wrap{
    text-align: center;padding:0 0 14px 0;
}
.swiper_menu_list{
    &.swiper-container{
        width:auto; flex:auto; padding:0 9px 0 9px;
    }
    .swiper-wrapper{ width:auto; flex:auto;}
    .swiper-slide{width:auto;flex:auto;}
}
.menu_category_item{padding:0 11px;display:block;
    &.active{
        .menu_category_thum{background-color:#ebfbf9;border-color:$primary;}
        .menu_category_spec{color:$primary;}
    }
}
.menu_category_thum{
    width:58px;height:58px;background:#f4f4f4;border:1px solid #f4f4f4; border-radius:21px; position:relative;overflow:hidden;
}
.menu_category_spec{font-size:11px;color:#232a35;margin:10px -11px 0;}

.btn_page_top{display:block; position:absolute;bottom:100%;right:20px; border-radius:100%;width:56px;height:56px; background:#ccf4ef url("../images/ico_topgo.png") no-repeat 50% 50%/14px 17px;}

@media (max-width:768px){
    .page_wrap{
        width:auto;
        &:before, &:after{display:none}
    }
    .top_layer_wrap,
    .bottom_layer_wrap{width:100%;transform: translateX(0);left:0;}
}

@media (min-width:1921px){
}

@media (orientation: landscape) and (max-width:1023px){
    .top_layer_wrap,
    .bottom_layer_wrap{position:absolute}
}

/* layout */
/* // layout */